<div class="qualification qualification_text">
    <div class="wrapper">
        <div class="qualification__contain">

            <div class="qualification__text qualification__text_not-before">

                Обучение проходит в дистанционном режиме при помощи ноутбука или телефона. При этом, мы экономим ваше личное время и не отрываем от производства. Время занятий вы подбираете самостоятельно, исходя из вашей занятости.
                <br>Курсы проходят вы короткие сроки, после сдачи аттестации, каждый обучающийся получает удостоверение государственного образца.
                <br>Как оставить заявку
                <br>Центр повышения квалификации сотрудников имеет большой опыт в данном направлении и готов предоставить вам выгодное сотрудничество. Обратите внимание, что повышение квалификации проходит не реже одного раза в пять лет, в связи с этим, каждый работодатель обязан предоставить сотрудникам соответствующие курсы, которые будут отвечать всем заявленным требованиям.
                <br>Мы предоставляем каждому клиенту:
                <br>
                <ul>
                    <li>индивидуальный подход;</li>
                    <li>доступную стоимость;</li>
                    <li>короткие сроки получения удостоверения;</li>
                    <li>дистанционное обучение.</li>
                </ul>Курсы повышения квалификации по направлению сварочного производства доступны в нашем центре. Мы предоставляема широкий спектр профессионального обучения и повышения квалификации по низким ценам. Все курсы проходят в дистанционном режиме, в удобное для вас время, без отрыва от производства.
                <br>
                <ul>
                    <li>Оставить заявку можно на нашем сайте. Позвоните или напишите нам. При возникновении вопросов, вам помогут нашим консультанты.</li>
                </ul>

            </div>

            <div class="qualification__btn qualification__btn_2">
                <a data-fancybox data-src="#popup-form" class="btn btn_img btn_img-cover btn_img-qual2"></a>
            </div>
            

        </div>
    </div>
</div>