<div class="qualification qualification_text">
    <div class="wrapper">
        <div class="qualification__contain">

            <div class="qualification__text qualification__text_not-before">

                Почему стоит обратиться к нам
                <br>Первоначально стоит определиться, для чего необходимо проходить обучение и повышать собственную квалификацию. Тут имеется несколько пунктов:
                <br>
                <ul>
                    <li>Для ознакомления с современными методами, тенденциями и всеми разработками в данной области. Сотрудник начинает немного по-другому смотреть на собственные обязанности, вносить коррективы и улучшать работу, что приносит прибыль.</li>
                    <li>Для мотивации. Это важный момент, когда квалифицированный специалист понимает собственную значимость для компании, рост и не меняет место работы.</li>
                </ul>Обратите внимание, переподготовка и повышение квалификации — разные типы обучения. Переподготовка позволяет изучить материал и основы для новой работы. То есть, сотрудник проходит обучение, после которого может перейти в другое направление или работать, совмещая две специальности. По завершению, вы получаете диплом, который указывает на ваши новые знания.
                <br>Повышение квалификации — обновление имеющихся знаний, получения более расширенного опыта и пр.
                <br>
                <ul>
                    <li>Аттестация в химической промышленности недорого в дистанционном формате доступно в нашей компании. Звоните прямо сейчас или оставляйте заявку на нашем сайте. При возникновении вопросов, вам помогут наши консультанты, которые расскажут вам возможности обучения, необходимые документы и сроки прохождения курсов.</li>
                </ul>

            </div>

            <div class="qualification__btn qualification__btn_2">
                <a data-fancybox data-src="#popup-form" class="btn btn_img btn_img-cover btn_img-qual2"></a>
            </div>
            

        </div>
    </div>
</div>