<div class="qualification qualification_text">
    <div class="wrapper">
        <div class="qualification__contain">

            <div class="qualification__text qualification__text_not-before">

                <strong>Продолжительность подготовки специалистов</strong>
                <br>Процесс подготовки электромонтажников по освещению и осветительным сетям курсовой, с программой, устанавливаемой индивидуально с учетом специфики трудовой деятельности слушателя или перспектив трудоустройства.
                <br>По результатам повышения квалификации выдается соответствующее удостоверение с приложением копии протокола квалификационной комиссии. После прохождения обучения на получение профессии впервые – свидетельство о присвоении квалификации.
                <br> <strong>Стоимость обучения</strong>
                <br>Стоимость обучения по программе подготовки или повышения квалификации зависит от выбранного учебного плана, наличия практических навыков в профессии и сроков обучения. Подготовка группы специалистов с одного предприятия существенно экономит затраты на подготовку специалистов.
                <br>Политика центра ПКС в области ценообразования позволяет сохранять уровень оплаты за профессиональное обучение на конкурентном уровне.
                <br>
                <br>

            </div>

            <div class="qualification__btn qualification__btn_2">
                <a data-fancybox data-src="#popup-form" class="btn btn_img btn_img-cover btn_img-qual2"></a>
            </div>
            

        </div>
    </div>
</div>