<div class="qualification qualification_text">
    <div class="wrapper">
        <div class="qualification__contain">

            <div class="qualification__text qualification__text_not-before">

                Как пройти обучение
                <br>Запись на обучение доступна в удобной для вас форме:
                <br>
                <ul>
                    <li>заполнив форму на нашем сайте;</li>
                    <li>позвонив по указанному номеру телефона.</li>
                </ul>По завершении курса, который проходит в короткие сроки, каждый специалист получает удостоверение установленного образца. Документы отправляются по почте в короткие сроки.
                <br>Повышение квалификации для сотрудников, связанных с подъемными сооружениями, и профессиональная переподготовка по данному направлению доступна в нашем центре. Мы предоставляем квалифицированные услуги в данном направлении, предлагаем каждому клиенту индивидуальный график и короткие сроки по доступной стоимости.
                <br>Мы сотрудничаем не только с компаниями, но и с физическими лицами, которые хотят самостоятельно повысить квалификацию. Все доступно, просто и понятно. От вас только онлайн заявка, по дальнейшим шагам вас проконсультирует наш специалист.

            </div>

            <div class="qualification__btn qualification__btn_2">
                <a data-fancybox data-src="#popup-form" class="btn btn_img btn_img-cover btn_img-qual2"></a>
            </div>
            

        </div>
    </div>
</div>