<div class="qualification qualification_text">
    <div class="wrapper">
        <h2 class="title title_middle">СПЕЦИАЛИЗИРУЕМСЯ НА ПРОФ. ПОДГОТОВКЕ И <span>ПОВЫШЕНИИ КВАЛИФИКАЦИИ</span></h2>
        <div class="qualification__contain">

            <div class="qualification__text">

                <p>Повышение квалификации при работе с подъемными сооружениями необходимость, которая обеспечивает безопасность людей. Пройти данный курсы в дистанционном формате доступно в нашем центре.</p>
                <p>Описание</p>
                <p>Подъемные сооружения применяются во многих сферах производства и отраслях, например, строительной и промышленной. При этом, работа с данными сооружениями требует повышенной безопасности, ведь даже небольшая погрешность может привести к трагедии.</p>
                <p>Исходя из этого, каждый специалист, работающий с эксплуатацией и по обслуживанию данных сооружений обязан иметь подходящую квалификацию и необходимый навык работы.</p>
                <p>Цель наших курсов — получение необходимых знаний и навыков, которые необходимы для работы в данном направлении. Обучение проходит в дистанционном формате, что позволит, не отрываясь от производства получить необходимые знания. А по завершению обучения соответствующий документ государственного образца.</p>
                <p>Для начала обучения вам не требуется сдавать вступительные экзамены и тратить личное время. Достаточно просто подать заявку на нашем сайте или позвонить по указанному номеру телефона.</p>
                <p>Преимущества</p>
                <p>Обучение происходит в дистанционном режиме. В рамках обучения, каждый сотрудник посещает онлайн-занятия, на которых предоставляет информация о:</p>
                <ul>
                  <li>внутренних устройствах и тех характеристиках сооружений для персонала;</li>
                  <li>организации процесса техники;</li>
                  <li>способах монтажа и наладки конструкций;</li>
                  <li>общих требованиях и правилах, контроле;</li>
                  <li>технических освидетельствованиях;</li>
                  <li>оформлении документации;</li>
                  <li>и пр.</li>
                </ul>
                <p>Обратите внимание, в курсах учтены государственные стандарты и опыт ведущих специалистов страны!</p>

            </div>

            <div class="qualification__btn">
                <a id="btn-qual" href="#qualification__table" class="btn btn_img btn_img-cover btn_img-qual" data-target="#hidden-qual"></a>
            </div>

            <div class="qualification__hidden" id="hidden-qual">
                <!-- anchor -->
                <a id="qualification__table"></a>
                <!-- anchor end-->
                <div class="qualification__table">
                    <div class="qualification__table-title">КУРСЫ ПОВЫШЕНИЯ КВАЛИФИКАЦИИ</div>

                    <div class="qualification__table-title">ЭЛЕКТРОТЕХНИЧ. И ЭЛЕКТРОТЕХНОЛОГИЧ. ПЕРСОНАЛ</div>
                    <div>
                        Монтажник связи-антенщик 2-6 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Монтажник связи – кабельщик 2-6 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Наладчик контрольно-измерительных приборов и автоматики 4-8 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Электромонтажник по кабельным сетям 2-7-го разряда
                        <span>4000</span>
                    </div>
                    <div>
                        Электромонтажник по освещению и осветительным сетям 2-6-го разряда
                        <span>4000</span>
                    </div>
                    <div>
                        Электромонтажник по распределительным устройствам 2-7-го разряда
                        <span>4000</span>
                    </div>
                    <div>
                        Электромонтажник по силовым сетям и электрооборудованию 2-6 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Электромонтажник по электрическим машинам 2-6-го разряда
                        <span>4000</span>
                    </div>
                    <div>
                        Электромонтер охранно-пожарной сигнализации 3-6 разряда
                        <span>4000</span>
                    </div>
                    <div>
                        Электромонтер по испытаниям и измерениям 3-8 разряда
                        <span>4000</span>
                    </div>
                    <div>
                        Электромонтер по обслуживанию электрооборудования электростанций 5-6-го разряда
                        <span>4000</span>
                    </div>
                    <div>
                        Электромонтер по обслуживанию электроустановок 5-7-го разряда
                        <span>4000</span>
                    </div>
                    <div>
                        Слесарь механосборочных работ 2-7 разряд
                        <span>4000</span>
                    </div>

                    <div class="qualification__table-title">ПРОИЗВОДСТВЕННЫЕ СПЕЦИАЛЬНОСТИ</div>
                    <div>
                        Бурильщик эксплуатационного и разведочного бурения скважин на нефть и газ 5-8 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Вышкомонтажник 3-8 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Вышкомонтажник-сварщик 3-6 разряд
                        <span>7000</span>
                    </div>
                    <div>
                        Вышкомонтажник –электромонтер 3-5 разряд
                        <span>4000</span>
                    </div>

                    <div class="qualification__table-title">НЕФТЯНАЯ И ГАЗОВАЯ ПРОМЫШЛЕННОСТЬ</div>
                    <div>
                        Каротажник 4-8 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Лаборант по анализу газа и пыли 2-4 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Лаборант по ультразвуковой технике 3-5 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Лаборант по физико-механическим испытаниям 2-6 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Лаборант по электроизоляционным материалам 2-5 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Лаборант ренгено-спектрального анализа 2-6 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Лаборант спектрального анализа 2-6 разряд
                        <span>4000</span>
                    </div>
                    <div class="qualification__table-title">СВАРОЧНЫЕ РАБОТЫ</div>
                    <div>
                        Газосварщик 2-6 разряд
                        <span>5000</span>
                    </div>
                    <div>
                        Газорезчик 1-5 разряд
                        <span>5000</span>
                    </div>
                    <div>
                        Электросварщик ручной сварки 3-6 разряд
                        <span>5000</span>
                    </div>
                    <div>
                        Электросварщик на автоматических и полуавтоматических машинах 2-6 разряд
                        <span>5000</span>
                    </div>
                    <div>
                        Электрогазосварщик 2-6 разряд
                        <span>5000</span>
                    </div>
                    <div>
                        Электрогазосварщик-врезчик 4-6 разряд
                        <span>5000</span>
                    </div>

                </div>

                <div class="qualification__btn qualification__btn_2">
                    <a data-fancybox data-src="#popup-form" class="btn btn_img btn_img-cover btn_img-qual2"></a>
                </div>
            </div>

        </div>
    </div>
</div>