.header {
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 102px;
        @media (max-width:1200px) {
            justify-content: flex-start;
        }
        @media (max-width:900px) {
            height: 90px;
        }
        @media (max-width:500px) {
            height: auto;
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__logo {
        background-color: #f1f1f1;
        height: 102px;
        width: 300px;
        border-radius: 0 0 60px 60px;
        position: relative;
        flex: none;
        @media (max-width:900px) {
            height: 90px;
            width: 244px;
            border-radius: 0 0 50px 50px;
        }
        @media (max-width:500px) {
            height: 80px;
            width: 140px;
            border-radius: 0 0 30px 30px;
        }
        a {
            background-size: 188px 67px;
            background-position: bottom 15px center;
            @media (max-width:900px) {
                background-size: 142px 50px;
            }
            @media (max-width:500px) {
                background-size: 120px 43px;
            }
        }
    }
    &__contact {
        padding-left: 200px;
        flex: none;
        @media (max-width:1200px) {
            padding-left: 0;
            margin: 0 60px 0 100px;
        }
        @media (max-width:900px) {
            margin: 0;
            padding-left: 50px;
        }
        @media (max-width:500px) {
            margin-top: 10px;
            padding-left: 20px;
        }
    }
    &__btn {
        position: relative;
        right: -50px;
        @media (max-width:1150px) {
            right: 0;
        }
        @media (max-width:900px) {
            display: none;
        }
    }
    &__nav {
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 43%;
        pointer-events: none;
        overflow: hidden;
        &.active {
            pointer-events: initial;
        }
    }
    &__burger {
        position: fixed;
        right: 20px;
        top: 20px;
        z-index: 100;
    }
}