.header {
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 102px;
    }
    &__logo {
        background-color: #f1f1f1;
        height: 102px;
        width: 300px;
        border-radius: 0 0 60px 60px;
        position: relative;
        a {
            background-size: 188px 67px;
            background-position: bottom 15px center;
        }
    }
    &__contact {
        padding-left: 200px;
    }
    &__btn {
        position: relative;
        right: -50px;
    }
    &__nav {
        position: absolute;
    }
    &__burger {
        position: fixed;
        right: 20px;
        top: 20px;
        z-index: 1000px;
    }
}