.attestation {
    &__content {

    }
    &__tabs {
        margin-top: 60px;
        margin-bottom: 150px;
    }
    &__btn {
        width: 452px;
        height: 154px;
        margin: 0 auto;
    }
}