.clients {
    background-color: #090446;
    padding-bottom: 80px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        height: 370px;
        width: 200%;
        left: -80%;
        top: -67px;
        background-color: #090446;
        transform: rotate(-5deg);
        z-index: -1;
    }
    .title {
        @media (max-width:500px) {
            max-width: 240px;
            margin: 0 auto;
        }
    }
    &__content {
        position: relative;
    }
    &__img-back {
        position: absolute;
        top: -110px !important;
        left: -290px !important;
        @media (max-width:900px) {
            left: -170px !important;
        }
        @media (max-width:500px) {
            left: 50% !important;
            transform: translateX(-50%) !important;
            top: 0 !important;
        }
        a {
            display: block;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 405px;
            height: 450px;
            @media (max-width:500px) {
                width: 287px;
                height: 318px;
            }
        }
    }
    &__grid {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 20px;
        position: relative;
        z-index: 2;
        @media (max-width:900px) {
            grid-column-gap: 20px;
        }
        @media (max-width:500px) {
            grid-template-columns: repeat(1, 1fr);
            grid-row-gap: 10px;
            margin-top: 40px;
        }
    }
    &__elem {
        display: flex;
        align-items: center;
    }
    &__img {
        display: block;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 86px;
        height: 86px;
        margin-right: 20px;
        flex: none;
        @media (max-width:900px) {
            width: 60px;
            height: 60px;
            margin-right: 10px;
        }
        @media (max-width:500px) {
            width: 40px;
            height: 40px;
        }
    }
    &__title {
        color: #ffffff;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 400;
        @media (max-width:900px) {
            font-size: 18px;
        }
        @media (max-width:500px) {
            font-size: 16px;
        }
    }
}