.logo {
    display: block;
    background-image: url(../img/logo.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    &_nav {
        background-image: url(../img/logo-nav.svg);
        &-text {
            background-image: url(../img/logo-nav-text.svg);
        }
    }
    &_dev {
        background-image: url(../img/logo-dev.svg);
    }
}