.nav {
    position: relative;
    &__back {
        width: 40%;
        height: 100vh;
        background-color: #e4253f;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 4;
        transform: translateX(101%);
        transform-origin: 101% 0;
        -webkit-transition: -webkit-transform 900ms cubic-bezier(0.77, 0, 0.175, 1) 30ms;
        transition: -webkit-transform 900ms cubic-bezier(0.77, 0, 0.175, 1) 30ms;
        transition: transform 900ms cubic-bezier(0.77, 0, 0.175, 1) 30ms;
        transition: transform 900ms cubic-bezier(0.77, 0, 0.175, 1) 30ms, -webkit-transform 900ms cubic-bezier(0.77, 0, 0.175, 1) 30ms;
        @media (max-width:900px) {
            width: 100%;
        }
        &.active {
            transform: translateX(0);
        }
    }
    &__content {
        height: 100vh;
        background-color: #090446;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 6;
        width: 40%;
        padding-left: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        transform: translateX(101%);
        transform-origin: 101% 0;
        -webkit-transition: -webkit-transform 900ms cubic-bezier(0.77, 0, 0.175, 1) 120ms;
        transition: -webkit-transform 900ms cubic-bezier(0.77, 0, 0.175, 1) 120ms;
        transition: transform 900ms cubic-bezier(0.77, 0, 0.175, 1) 120ms;
        transition: transform 900ms cubic-bezier(0.77, 0, 0.175, 1) 120ms, -webkit-transform 900ms cubic-bezier(0.77, 0, 0.175, 1) 120ms;
        @media (max-width:900px) {
            width: 100%;
        }
        &.active {
            transform: translateX(0);
            box-shadow: 0 0 25px 1px black;
        }
        &:before {
            content: '';
            position: absolute;
            background-image: url(../img/nav-img.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 667px;
            height: 736px;
            left: 75%;
            pointer-events: none;
            z-index: -1;
        }
    }
    &__logo {
        display: flex;
        align-items: center;
        .logo_nav {
            width: 99px;
            height: 109px;
            margin-right: 10px;
        }
        .logo_nav-text {
            width: 148px;
            height: 28px;
        }
    }
    &__elems {
        display: flex;
        flex-direction: column;
        margin: 40px 0 200px;
        @media (max-width:900px) {
            margin: 40px 0 150px;
        }
        @media (max-width:500px) {
            margin-top: 15px;
        }
    }
    &__elem {
        color: #ffffff;
        font-size: 26px;
        line-height: 1.55;
        font-weight: 400;
        transition: 0.4s ease;
        @media (max-width:900px) {
            font-size: 24px;
            line-height: 1.8;
        }
        @media (max-width:500px) {
            font-size: 20px;
            line-height: 2.2;
        }
        &:hover {
            transform: translateX(20px);
        }
    }
    &__btn {

    }
}