.politika-page {
    padding-top: 60px;
    padding-bottom: 80px;
    &__title {
        font-weight: 700;
        color: #000;
        font-size: 36px;
        line-height: 1.23;
        max-width: 960px;
        margin: 0 auto 80px;
        text-align: center;
        @media (max-width:900px) {
            font-size: 32px;
            max-width: 600px;
        }
        @media (max-width:900px) {
            font-size: 28px;
        }
    }
    &__text {
        font-weight: 400;
        color: #000;
        font-size: 20px;
        line-height: 1.55;
        @media (max-width:900px) {
            font-size: 18px;
        }
        @media (max-width:900px) {
            font-size: 16px;
            line-height: 1.45;
        }
    }
}