.qualification {
    background-color: #090446;
    padding-top: 100px;
    .title {
        position: relative;
        margin-left: 75px;
        &:before {
            content: '';
            position: absolute;
            left: -150px;
            top: 50%;
            transform: translateY(-50%);
            background-image: url(../img/logo-nav.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 132px;
            height: 145px;

        }
    }
}