.qualification {
    background-color: #090446;
    padding-top: 100px;
    padding-bottom: 60px;
    @media (max-width:500px) {
        padding-top: 60px;
    }
    .title {
        position: relative;
        margin-left: 75px;
        @media (max-width:900px) {
            margin-left: 0;
        }
        @media (max-width:500px) {
            text-align: center;
        }
        &:before {
            content: '';
            position: absolute;
            left: -150px;
            top: 50%;
            transform: translateY(-50%);
            background-image: url(../img/logo-nav.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 132px;
            height: 145px;
            @media (max-width:900px) {
                display: none;
            }
            @media (max-width:500px) {
                display: block;
                left: 50%;
                transform: translateX(-50%);
                width: 542px;
                height: 596px;
                top: 130%;
            }
        }
    }
    &__grid {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        margin-top: 80px;
        margin-bottom: 40px;
        @media (max-width:900px) {
            grid-template-columns: repeat(2, 1fr);
            margin-top: 40px;
        }
        @media (max-width:500px) {
            grid-template-columns: repeat(1, 1fr);
            grid-row-gap: 20px;
        }
        &:before {
            content: '';
            position: absolute;
            background-image: url(../img/qualification/arrow.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            left: -100px;
            top: -70px;
            width: 75px;
            height: 160px;
        }
    }
    &__elem {
        height: 254px;
        border-radius: 30px;
        background-color: #08033d;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 50px 20px;
        transition: 0.4s ease;
        cursor: pointer;
        &:hover {
            transform: translateY(-20px);
        }
    }
    &__title {
        color: #ffffff;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 500;
        text-align: center;
        user-select: none;
        @media (max-width:500px) {
            font-size: 20px;
        }
    }
    &__price {
        color: #e4253f;
        font-size: 40px;
        line-height: 1.2;
        font-weight: 600;
        user-select: none;
        @media (max-width:500px) {
            font-size: 35px;
        }
    }
    &__btn {
        margin: 0 auto;
        width: 461px;
        height: 157px;
        @media (max-width:900px) {
            width: 382px;
            height: 130px;
        }
        @media (max-width:500px) {
            width: 312px;
            height: 106px;
        }
    }
    &__hidden {
        display: none;
    }
    &__table {
        color: #ffffff;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 400;
        padding-top: 40px;
        padding-bottom: 40px;
        @media (max-width:900px)  {
            font-size: 18px;
        }
        @media (max-width:500px) {
            font-size: 16px;
        }
        span {
            color: #e4253f;
            font-weight: 600;
            @media (max-width:900px) {
                margin-left: 50px;
            }
            @media (max-width:500px) {
                margin-left: 20px;
            }
        }
        div {
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
            padding-left: 40px;
            @media (max-width:500px) {
                align-items: center;
                padding: 10px 10px;
            }
            &:nth-child(2n) {
                background-color: #08033d;
            }
        }
    }
    &__table-title {
        justify-content: center !important;
        font-weight: 600;
        font-size: 24px;
        @media (max-width:900px)  {
            font-size: 22px;
        }
        @media (max-width:500px) {
            font-size: 18px;
        }
    }

    //text
    &_text {
        position: relative;
        z-index: 2;
        .title {
            &:before {
                @media (max-width:500px) {
                    display: none;
                }
            }
        }
    }

    &__text {
        padding: 50px 0;
        color: #ffffff;
        font-size: 24px;
        font-family: 'Gilroy',Arial,sans-serif;
        line-height: 1.2;
        font-weight: 500;
        position: relative;
        z-index: 2;
        @media (max-width:900px) {
            font-size: 18px;
        }
        @media (max-width:500px) {
            font-size: 14px;
        }
        &:before {
            content: '';
            position: absolute;
            background-image: url(../img/qualification/arrow.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            left: -100px;
            top: -70px;
            width: 75px;
            height: 160px;
        }
        &_not-before {
            padding: 0;
            line-height: 1.55;
            &:before {
                content: none;
            }
        }
        ul {
            list-style: disc;
            padding-left: 20px;
        }
        ol {
            list-style: decimal;
            padding-left: 25px;
        }
        strong {
            font-weight: bold;
            margin-bottom: 10px;
        }
    }
}