.text-block {
    font-size: 20px;
    line-height: 1.55;
    font-weight: 300;
    color: #000;
    h4 {
        font-weight: 500;
    }
    ul {
        list-style: disc;
        padding-left: 20px;
    }
}