.text-block {
    font-size: 20px;
    line-height: 1.55;
    font-weight: 300;
    color: #000;
    @media (max-width:900px) {
        font-size: 18px;
    }
    @media (max-width:500px) {
        font-size: 14px;
        line-height: 1.45;
    }
    h4 {
        font-weight: 500;
    }
    ul {
        list-style: disc;
        padding-left: 20px;
    }
}