.total {
    position: relative;
    z-index: 1;
    .title {
        max-width: 540px;
        margin: 0 auto;
        position: relative;
        .intro__cap {
            position: absolute;
            width: 85px;
            height: 63px;
            right: 80px;
            top: initial;
            bottom: 0;
            -webkit-transform: rotate(36deg);
            -moz-transform: rotate(36deg);
            transform: rotate(36deg);
        }
    }

}