<div class="qualification qualification_text">
    <div class="wrapper">
        <div class="qualification__contain">

            <div class="qualification__text qualification__text_not-before">

                <strong>Формат обучения и продолжительность</strong>
                <br>Программа по курсу электромонтажник по РУ профессиональная переподготовка и обучение предполагает индивидуальный подход. Обучение проводится дистанционно. Продолжительность зависит от объема выбранной программы обучения. По окончании курса проводится экзамен с присвоением, по результатам, разряда рабочей квалификации.
                <br>По результатам обучения выдается документ подтверждающий обучение с приложением копии протокола квалификационной комиссии.
                <br><strong>Стоимость обучения</strong>
                <br>Стоимость обучения по программе подготовки или повышения квалификации зависит от выбранного учебного плана, наличия практических навыков в профессии и сроков обучения. Подготовка группы специалистов с одного предприятия существенно экономит затраты на подготовку специалистов.
                <br>Политика центра ПКС в области ценообразования позволяет сохранять уровень оплаты за профессиональное обучение и повышение квалификации на конкурентном уровне.
                <br>
                <br>

            </div>

            <div class="qualification__btn qualification__btn_2">
                <a data-fancybox data-src="#popup-form" class="btn btn_img btn_img-cover btn_img-qual2"></a>
            </div>
            

        </div>
    </div>
</div>