<div class="qualification qualification_text">
    <div class="wrapper">
        <div class="qualification__contain">

            <div class="qualification__text qualification__text_not-before">

                Почему стоит обратиться к нам
                <br>Центр Повышения Квалификации предоставляет каждому клиенту и организации:
                <br>
                <ul>
                    <li>индивидуальные и групповые занятия;</li>
                    <li>обучение только в дистанционном формате;</li>
                    <li>лицензии и сертификаты отправляются по почте в короткие сроки;</li>
                    <li>только актуальные знания;</li>
                    <li>удобное время для курсов;</li>
                    <li>доступная стоимость.</li>
                </ul>Большой опыт в данном направлении и высококвалифицированные специалисты помогут вам получить необходимые знания, которые можно сразу применять в практике.
                <br>Как оставить заявку
                <br>Наша компания сотрудничает с организациями и предприятиями по всей России, но также мы не делаем исключение отдельным гражданам, которые желают повысить собственную квалификацию. Чтобы оставить заявку, воспользуйтесь удобным способом:
                <br>
                <ul>
                    <li>заполните форму, представленную на сайте;</li>
                    <li>позвоните по указанному номеру телефона.</li>
                </ul>При возникновении вопросов, наши консультанты помогут вам.
                <br>
                <ul>
                    <li>Повышение квалификации в нефтяной и газовой промышленности — необходимость, которая обусловлена специфическим и востребованным направлением. Не пренебрегайте сотрудниками, обращайтесь в наш центр, который позволит пройти обучение без отрыва от производства!</li>
                </ul>

            </div>

            <div class="qualification__btn qualification__btn_2">
                <a data-fancybox data-src="#popup-form" class="btn btn_img btn_img-cover btn_img-qual2"></a>
            </div>
            

        </div>
    </div>
</div>