<div class="qualification qualification_text">
    <div class="wrapper">
        <div class="qualification__contain">

            <div class="qualification__text qualification__text_not-before">

                Соответствие разряда группе по электробезопасности
                <br>Электромонтеры по испытаниям и измерениям переподготавливаются с одновременным повышением квалификационной категории допуска по электробезопасности. Соответствие профессионального разряда и категории допуска выглядит так:
                <br>
                <ol>
                    <li>3 разряд электромонтера - II Группа допуска (не ниже)</li>
                    <li>4 разряд электромонтера - III Группа допуска (не ниже)</li>
                    <li>5 разряд электромонтера - IV Группа допуска (не ниже)</li>
                    <li>6 разряд электромонтера - V Группа допуска (не ниже)</li>
                </ol>
                <br><strong>Стоимость обучения</strong>
                <br>Стоимость подготовки или переподготовки зависит от выбранного учебного плана, наличия практических навыков в профессии и сроков обучения. Подготовка группы специалистов с одного предприятия существенно экономит затраты на подготовку специалистов.
                <br>Политика центра ПКС в области ценообразования позволяет сохранять уровень оплаты за профессиональное обучение и повышение квалификации на конкурентном уровне.
                <br>
                <br>

            </div>

            <div class="qualification__btn qualification__btn_2">
                <a data-fancybox data-src="#popup-form" class="btn btn_img btn_img-cover btn_img-qual2"></a>
            </div>
            

        </div>
    </div>
</div>