<div class="qualification qualification_text">
    <div class="wrapper">
        <div class="qualification__contain">

            <div class="qualification__text qualification__text_not-before">

                Итог прохождения курса электромонтер охранно-пожарной сигнализации - удостоверение с разрядом квалификации. Пройти обучение по соответствующей программе можно в Центре ПКС. Продолжительность и стоимость курса зависит от получаемой квалификации и объема учебного материала дополнительных опций программы. Модульный тип программы подразумевает включение дополнительных направлений учебного материала, в соответствии с пожеланиями заказчика.
                <br> Получить специальность или повысить уровень профессиональной подготовки можно записавшись на обучение на сайте организации используя форму обратной связи или связаться с нашими менеджерами.
                <br>
                <br>

            </div>

            <div class="qualification__btn qualification__btn_2">
                <a data-fancybox data-src="#popup-form" class="btn btn_img btn_img-cover btn_img-qual2"></a>
            </div>
            

        </div>
    </div>
</div>