<div class="qualification qualification_text">
    <div class="wrapper">
        <h2 class="title title_middle">СПЕЦИАЛИЗИРУЕМСЯ НА ПРОФ. ПОДГОТОВКЕ И <span>ПОВЫШЕНИИ КВАЛИФИКАЦИИ</span></h2>
        <div class="qualification__contain">

            <div class="qualification__text">

                <p>Учебная курс электромонтер охранно-пожарной сигнализации с получением разряда по профессии охватывает вид профессиональной деятельности – «Выполнение работ по монтажу и наладке оборудования, охранно-тревожной и пожарной сигнализации».</p>
                <p>Квалификационные характеристики</p>
                <p>Данный вид профдеятельности включает в себя следующие профессиональные компетенции:</p>
                <ol>
                    <li>Монтаж линейных проводок ОПС, средств управления доступом в охраняемые помещения, систем видео слежения, оповещения, автоматического управления инженерными системами, аварийного и охранного освещения.</li>
                    <li>Монтаж и пусконаладка тревожных датчиков, извещателей, и других исполнительных устройств.</li>
                    <li>Выполнение работ по установке и монтажу общеобъектового оборудования и оборудования ПЦН.</li>
                </ol>
                
            </div>

            <div class="qualification__btn">
                <a id="btn-qual" href="#qualification__table" class="btn btn_img btn_img-cover btn_img-qual" data-target="#hidden-qual"></a>
            </div>

            <div class="qualification__hidden" id="hidden-qual">
                <!-- anchor -->
                <a id="qualification__table"></a>
                <!-- anchor end-->
                <div class="qualification__table">
                    <div class="qualification__table-title">КУРСЫ ПОВЫШЕНИЯ КВАЛИФИКАЦИИ</div>

                    <div class="qualification__table-title">ЭЛЕКТРОТЕХНИЧ. И ЭЛЕКТРОТЕХНОЛОГИЧ. ПЕРСОНАЛ</div>
                    <div>
                        Монтажник связи-антенщик 2-6 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Монтажник связи – кабельщик 2-6 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Наладчик контрольно-измерительных приборов и автоматики 4-8 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Электромонтажник по кабельным сетям 2-7-го разряда
                        <span>4000</span>
                    </div>
                    <div>
                        Электромонтажник по освещению и осветительным сетям 2-6-го разряда
                        <span>4000</span>
                    </div>
                    <div>
                        Электромонтажник по распределительным устройствам 2-7-го разряда
                        <span>4000</span>
                    </div>
                    <div>
                        Электромонтажник по силовым сетям и электрооборудованию 2-6 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Электромонтажник по электрическим машинам 2-6-го разряда
                        <span>4000</span>
                    </div>
                    <div>
                        Электромонтер охранно-пожарной сигнализации 3-6 разряда
                        <span>4000</span>
                    </div>
                    <div>
                        Электромонтер по испытаниям и измерениям 3-8 разряда
                        <span>4000</span>
                    </div>
                    <div>
                        Электромонтер по обслуживанию электрооборудования электростанций 5-6-го разряда
                        <span>4000</span>
                    </div>
                    <div>
                        Электромонтер по обслуживанию электроустановок 5-7-го разряда
                        <span>4000</span>
                    </div>
                    <div>
                        Слесарь механосборочных работ 2-7 разряд
                        <span>4000</span>
                    </div>

                    <div class="qualification__table-title">ПРОИЗВОДСТВЕННЫЕ СПЕЦИАЛЬНОСТИ</div>
                    <div>
                        Бурильщик эксплуатационного и разведочного бурения скважин на нефть и газ 5-8 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Вышкомонтажник 3-8 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Вышкомонтажник-сварщик 3-6 разряд
                        <span>7000</span>
                    </div>
                    <div>
                        Вышкомонтажник –электромонтер 3-5 разряд
                        <span>4000</span>
                    </div>

                    <div class="qualification__table-title">НЕФТЯНАЯ И ГАЗОВАЯ ПРОМЫШЛЕННОСТЬ</div>
                    <div>
                        Каротажник 4-8 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Лаборант по анализу газа и пыли 2-4 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Лаборант по ультразвуковой технике 3-5 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Лаборант по физико-механическим испытаниям 2-6 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Лаборант по электроизоляционным материалам 2-5 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Лаборант ренгено-спектрального анализа 2-6 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Лаборант спектрального анализа 2-6 разряд
                        <span>4000</span>
                    </div>
                    <div class="qualification__table-title">СВАРОЧНЫЕ РАБОТЫ</div>
                    <div>
                        Газосварщик 2-6 разряд
                        <span>5000</span>
                    </div>
                    <div>
                        Газорезчик 1-5 разряд
                        <span>5000</span>
                    </div>
                    <div>
                        Электросварщик ручной сварки 3-6 разряд
                        <span>5000</span>
                    </div>
                    <div>
                        Электросварщик на автоматических и полуавтоматических машинах 2-6 разряд
                        <span>5000</span>
                    </div>
                    <div>
                        Электрогазосварщик 2-6 разряд
                        <span>5000</span>
                    </div>
                    <div>
                        Электрогазосварщик-врезчик 4-6 разряд
                        <span>5000</span>
                    </div>

                </div>

                <div class="qualification__btn qualification__btn_2">
                    <a data-fancybox data-src="#popup-form" class="btn btn_img btn_img-cover btn_img-qual2"></a>
                </div>
            </div>

        </div>
    </div>
</div>