<div class="qualification qualification_text">
    <div class="wrapper">
        <div class="qualification__contain">

            <div class="qualification__text qualification__text_not-before">

                <strong>Результат обучения</strong>
                <br>Успешно окончившим курс по программе электромонтажник по кабельным сетям выдается удостоверение о повышении квалификации или свидетельство о присвоении специальности.
                <br>Занятия проводятся опытными педагогами по программам обучения составленным с учетом рекомендаций министерства профессионального образования и ведомственных документов, регламентирующих требования к уровню подготовки специалистов данного направления.
                <br>Стоимость обучения
                <br>Размер оплаты за обучение по программе подготовки или повышения квалификации зависит от выбранного учебного плана, наличие практических навыков в профессии и сроков обучения. Подготовка группы специалистов с одного предприятия существенно экономит затраты на подготовку специалистов.
                <br>Ценовая политика центра ПКС позволяет сохранять уровень цен на профессиональное обучение на конкурентном уровне.
                <br>
                <br>

            </div>

            <div class="qualification__btn qualification__btn_2">
                <a data-fancybox data-src="#popup-form" class="btn btn_img btn_img-cover btn_img-qual2"></a>
            </div>
            

        </div>
    </div>
</div>