<div class="qualification qualification_text">
    <div class="wrapper">
        <div class="qualification__contain">

            <div class="qualification__text qualification__text_not-before">

                <p>Для чего необходимы курсы повышения квалификации</p>
                <p>Котельно и тепловое оборудование представляет собой комплекс приборов, которые размещены в специальном помещении и предназначены для получения тепловой энергии пара и горячей воды. каждый тип оборудования имеет свои особенности, характеристики, но самое важное — требования к специалистам, которые работают в котельных.</p>
                <p>Это касается не только тех, кто напрямую. связан с деятельностью котельного оборудования, но и руководства, которое должно понимать условия трудовой деятельности и необходимых показателей. Для этого, каждый специалист обязан проходит повышение квалификации, на котором:</p>
                <ul>
                    <li>сотрудник знакомиться с новыми технологиями;</li>
                    <li>проходит ознакомление с безопасностью;</li>
                    <li>и пр.</li>
                </ul>
                <p>Обратите внимание, каждый специалист обязан проходить данные курсы один раз в пять лет или перед приемом на работу.</p>
                <p>Аттестация по котельному и тепловому оборудованию проходит в дистанционном режиме. Наша компания предоставляет каждому клиенту:</p>
                <ul>
                    <li>дистанционное обучение в короткие сроки;</li>
                    <li>доступную стоимость;</li>
                    <li>индивидуальный подход.</li>
                    <li>Для оформления заявки на обучение, позвоните по указанному номеру телефона или оставьте заявку на нашем сайте.</li>
                </ul>

            </div>

            <div class="qualification__btn qualification__btn_2">
                <a data-fancybox data-src="#popup-form" class="btn btn_img btn_img-cover btn_img-qual2"></a>
            </div>
            

        </div>
    </div>
</div>