<div class="qualification qualification_text">
    <div class="wrapper">
        <div class="qualification__contain">

            <div class="qualification__text qualification__text_not-before">

                <strong>Способ обучения и продолжительность</strong>
                <br>Программа повышения квалификации и профессиональной подготовки наладчиков КИП и автоматики - обучение дистанционное, с использованием сети интернет. Продолжительность обучения и размер оплаты зависят от требуемого уровня квалификации специалиста и объема подаваемого слушателю учебного материала. В зависимости от требуемого разряда будущего специалиста время обучения может достигать - 500 академических часов подачи материала, в т. ч., не менее 72 часов практики.
                <br> Записаться и пройти курс подготовки по специальности: «наладчик контрольно-измерительных приборов и автоматики», Вы можете в нашем центре ПКС. Мы специализируемся на подготовке специалистов в области энергетики, строительства, ЭВМ и связи. Наши специалисты-педагоги имеют многолетний опыт работы в этой области. Все программы составлены с учетом рекомендаций министерства профессионального образования. Ценовая политика нашего центра позволяет устанавливать стоимость на образовательные услуги на конкурентном уровне.
                <br>
                <br>

            </div>

            <div class="qualification__btn qualification__btn_2">
                <a data-fancybox data-src="#popup-form" class="btn btn_img btn_img-cover btn_img-qual2"></a>
            </div>
            

        </div>
    </div>
</div>