<div class="qualification qualification_text">
    <div class="wrapper">
        <div class="qualification__contain">

            <div class="qualification__text qualification__text_not-before">

                Как оставить заявку
                <br>Наш учебный центр имеет большой опыт в данном направлении, и мы готовы предоставить каждому клиенту:
                <br>
                <ul>
                    <li>Низкие цены. Мы не завышаем стоимость. Лицензии и сертификаты отправляем по почте в короткое время.</li>
                    <li>Широкий спектр услуг. В нашем центре каждый сотрудник может пройти обучение, повышение квалификации и аттестацию по любому направлению.</li>
                    <li>Индивидуальный подход. Мы подберем для вас оптимальное время для проведения занятий без отрыва от производственных работ.</li>
                    <li>Дистанционное обучение и аттестацию. Наша компания понимает, насколько важно сотруднику находится постоянно на работе, поэтому мы не займем много времени, предоставив полный спектр знаний и навыков при помощи современных технологий.</li>
                </ul>Высококвалифицированные специалисты, проработанные курсы и записанные уроки позволяют нам предоставлять актуальную информацию, новые технологии и современные решения.
                <br>Повышение квалификации в области ремонта и обслуживания — необходимость, которая прописана в Законодательстве. Обратите внимание, при отсутствии необходимой документации, работодатель может получить штраф.
                <br>Чтобы оставить заявку, воспользуйтесь удобным способом:
                <br>
                <ul>
                    <li>напишите нам;</li>
                    <li>заполните специальную форму на нашем сайте;</li>
                    <li>позвоните по указанному номеру телефона.</li>
                    <li>Наши консультанты всегда на связи и готовы помочь вам в любой сложившейся ситуации. Мы готовы предоставить каждой организации низкие цены и короткие сроки в получении квалификации.</li>
                </ul>

            </div>

            <div class="qualification__btn qualification__btn_2">
                <a data-fancybox data-src="#popup-form" class="btn btn_img btn_img-cover btn_img-qual2"></a>
            </div>
            

        </div>
    </div>
</div>