<div class="qualification qualification_text">
    <div class="wrapper">
        <div class="qualification__contain">

            <div class="qualification__text qualification__text_not-before">

                Почему мы
                <br>Центр квалификации сотрудников имеет большой опыт в данном направлении и готов предоставить вам выгодное сотрудничество. Обратите внимание, что аттестация проходит в дистанционном формате, что позволяет не отрываться от производства.
                <br>Мы предоставляем каждому клиенту:
                <br>
                <ul>
                    <li>индивидуальный подход;</li>
                    <li>доступную стоимость;</li>
                    <li>короткие сроки получения сертификата;</li>
                    <li>дистанционное обучение при необходимости.</li>
                </ul>Аттестация по производственным специальностям доступна в нашем центре. Мы предоставляема широкий спектр профессионального обучения и повышения квалификации по низким ценам. Все курсы проходят в дистанционном режиме, в удобное для вас время, без отрыва от производства.
                <br>можно на нашем сайте. Позвоните или напишите нам. При возникновении вопросов, вам помогут нашим консультанты.
                <br>Оставить заявку можно удобным способом:
                <br>
                <ul>
                    <li>позвоните по указанному номеру телефона;</li>
                    <li>напишите нам;</li>
                    <li>заполните форму на нашем сайте.</li>
                    <li>С нами сотрудничают крупные организации, нам доверяют, ведь мы имеем большой опыт в данном направлении и никогда не подводим своих клиентов!</li>
                </ul>


            </div>

            <div class="qualification__btn qualification__btn_2">
                <a data-fancybox data-src="#popup-form" class="btn btn_img btn_img-cover btn_img-qual2"></a>
            </div>
            

        </div>
    </div>
</div>