<div class="qualification qualification_text">
    <div class="wrapper">
        <div class="qualification__contain">

            <div class="qualification__text qualification__text_not-before">

                <strong>Стоимость и продолжительность обучения</strong>
                <br>Состав тем подготовки, последовательность и глубина их изучения напрямую влияют на продолжительность и стоимость подготовки или повышения квалификации специалиста.
                <br>Программы обучения, используемые центром ПКС составлены опытными инженерами и педагогами в соответствии с рекомендациями федеральных органов профессионального образования и ведомственными регламентами.
                <br>Стоимость подготовки и переподготовки по программе электромонтажник по силовым сетям и ЭО зависит от выбранного учебного плана, наличия практических навыков в профессии и необходимого срока обучения. Подготовка группы специалистов с одного предприятия существенно экономит затраты на подготовку специалистов.
                <br>Политика центра ПКС в области ценообразования позволяет сохранять уровень оплаты за профессиональное обучение на конкурентном уровне.

            </div>

            <div class="qualification__btn qualification__btn_2">
                <a data-fancybox data-src="#popup-form" class="btn btn_img btn_img-cover btn_img-qual2"></a>
            </div>
            

        </div>
    </div>
</div>