<div class="qualification qualification_text">
    <div class="wrapper">
        <div class="qualification__contain">

            <div class="qualification__text qualification__text_not-before">

                Результат обучения
                <br>В процессе обучения слушатели курса получают знания по программам разработанным опытными специалистами педагогами. По результатам прохождения курса обучения, слушатель успешно сдавший итоговый экзамен получает установленного образца удостоверение с присвоением специальности монтажник связи-кабельщик. Уровень квалификации (разряд) устанавливается в соответствии с результатами экзамена.
                <br>
                <br>Получить дополнительную информацию по курсу монтажник связи-кабельщик можно связавшись с нашими менеджерами, используя контактную информацию на сайте или подать заявку на обучение через форму обратной связи.

            </div>

            <div class="qualification__btn qualification__btn_2">
                <a data-fancybox data-src="#popup-form" class="btn btn_img btn_img-cover btn_img-qual2"></a>
            </div>
            

        </div>
    </div>
</div>