<div class="backcall">
    <div class="wrapper">
        <h2 class="title title_middle title_blue">
            ЗАПОЛНИТЕ ФОРМУ, ЧТОБЫ ПОЛУЧИТЬ <span>БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ</span>
        </h2>
        <div class="backcall__content">
            <p class="backcall__title-info">
                Получите <span>бесплатную</span> консультацию от специалиста с практическим опытом 9 лет
            </p>
            <form action="" method="post" class="backcall__form form-backcall">
                <label for="name">Ваше имя</label>
                <input id="name" name="name" type="name" required>
                <label for="phone">Ваш номер</label>
                <input id="phone" name="number" type="tel" required>
                <label for="email">Ваш E-mail</label>
                <input id="email" name="email" type="email" required>
                <button type="submit" class="btn btn_img btn_img-form"></button>
            </form>
            <a class="backcall__img"></a>
        </div>
    </div>
</div>