<!-- anchor -->
<a id="benefits"></a>
<!-- anchor end-->
<div class="benefits">
    <a class="benefits__img-page my-paroller" data-paroller-factor="0.2" data-paroller-type="foreground"></a>
    <div class="wrapper">
        <h2 class="title title_center">ВАШ НАДЕЖНЫЙ ПАРТНЕР <span>С 2013 ГОДА</span></h2>
        <div class="benefits__content">
            <p class="benefits__title-info">
                <span>8 лет</span> успешной работы
            </p>
            <div class="benefits__grid">

                <div class="benefits__elem">
                    <a class="benefits__img" style="background-image: url(img/benefits/1.svg);"></a>
                    <p class="benefits__text">
                        Делаем все <span>направления</span> Ростехнадзора <span>дистанционно</span>
                    </p>
                </div>

                <div class="benefits__elem">
                    <a class="benefits__img" style="background-image: url(img/benefits/2.svg);"></a>
                    <p class="benefits__text">
                        Доставка по всей России <span>от 1 до 4-х дней</span>
                    </p>
                </div>

                <div class="benefits__elem">
                    <a class="benefits__img" style="background-image: url(img/benefits/3.svg);"></a>
                    <p class="benefits__text"> 
                        Все направления <span>в одном месте</span>
                    </p>
                </div>

            </div>

            <div class="benefits__spec">
                <p>
                    Более <span>11 000</span> обученных специалистов с 2013 года
                </p>
                <a></a>
            </div>

            <div class="benefits__btn">
                <a data-fancybox data-src="#popup-form" class="btn btn_img btn_img-cover"></a>
            </div>

        </div>
    </div>
</div>