<div class="clients">
    <div class="wrapper">
        <h2 class="title title_middle title_center"><span>КЛИЕНТЫ</span> НАШЕГО ЦЕНТРА</h2>
        <div class="clients__content">

            <a class="clients__img-back" style="background-image: url(img/clients/back.svg);"></a>

            <div class="clients__grid">

                <div class="clients__elem">
                    <a class="clients__img" style="background-image: url(img/clients/icon.svg);"></a>
                    <h4 class="clients__title">АО "ЛЕНТЕХГАЗ"</h4>
                </div>

                <div class="clients__elem">
                    <a class="clients__img" style="background-image: url(img/clients/icon.svg);"></a>
                    <h4 class="clients__title">ООО "РАДОГОСТ-МАШ"</h4>
                </div>

                <div class="clients__elem">
                    <a class="clients__img" style="background-image: url(img/clients/icon.svg);"></a>
                    <h4 class="clients__title">ООО "СТРОЙГАЗ СЕВЕРО-ЗАПАД"</h4>
                </div>

                <div class="clients__elem">
                    <a class="clients__img" style="background-image: url(img/clients/icon.svg);"></a>
                    <h4 class="clients__title">ООО "НОРДТЕХ"</h4>
                </div>

                <div class="clients__elem">
                    <a class="clients__img" style="background-image: url(img/clients/icon.svg);"></a>
                    <h4 class="clients__title">ОАО "ПСКОВВТОРМЕТ"</h4>
                </div>

                <div class="clients__elem">
                    <a class="clients__img" style="background-image: url(img/clients/icon.svg);"></a>
                    <h4 class="clients__title">АО "ВЕРФАУ"</h4>
                </div>

                <div class="clients__elem">
                    <a class="clients__img" style="background-image: url(img/clients/icon.svg);"></a>
                    <h4 class="clients__title">ООО "ТРАНСОЙЛ-ТЕРМИНАЛ"</h4>
                </div>

                <div class="clients__elem">
                    <a class="clients__img" style="background-image: url(img/clients/icon.svg);"></a>
                    <h4 class="clients__title">ЗАО «АСТРАХАНСКОЕ ЦИФРОВОЕ ТЕЛЕВИДЕНИЕ»</h4>
                </div>

            </div>

        </div>
    </div>
</div>