<footer class="footer">
	<div class="wrapper">
		<div class="footer__nav">
			<a href="#four-steps" class="footer__nav-elem">Этапы получения</a>
			<a href="#benefits" class="footer__nav-elem">Преимущества</a>
			<a href="#licenses" class="footer__nav-elem">Лицензии</a>
			<a href="#attestation" class="footer__nav-elem">Области аттестации</a>
			<a href="#clients" class="footer__nav-elem">Клиенты центра</a>
		</div>
		<div class="footer__content">

			<div class="footer__elem">
				<div class="footer__contact">
					<a href="tel:+79212196390" class="contact__number contact__number_foot">8 (921) 219 63 90</a>
				</div>
				<div class="footer__req">
					<p>ООО «Центр ПКС»</p>
					<p>ИНН 6027206095</p>
					<p>КПП 602701001</p>
				</div>
			</div>

			<div class="footer__elem">
				<div class="footer__logo">
					<a href="/" class="logo logo_nav"></a>
					<a href="/" class="logo logo_nav-text"></a>
				</div>
			</div>

			<div class="footer__elem">
				<div class="footer__logo-dev">
					<a href="https://seo-zharkov.ru/" class="logo logo_dev"></a>
				</div>
				<a href="" class="footer__polit">Политика конфиденциальности</a>
			</div>

		</div>
	</div>
</footer>
