<header class="header">
	<div class="wrapper">
		<div class="header__content">

			<div class="header__logo">
				<a href="/" class="logo"></a>
			</div>

			<div class="header__contact contact">
				<a href="tel:+79212196390" class="contact__number">8 (921) 219 63 90</a>
				<a href="tel:+79212196390" class="contact__number-ban">Звоните мы сейчас работаем</a>
			</div>

			<div class="header__btn">
				<a data-fancybox data-src="#popup-form" class="btn btn_head">Заказать звонок</a>
			</div>

			<div class="header__burger">
				<a class="burger">
					<div class="burger__icon">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</a>
			</div>

			<div class="header__nav">
				<nav class="nav">
					<div class="nav__back"></div>
					<div class="nav__content">

						<div class="nav__logo">
							<a href="/" class="logo logo_nav"></a>
							<a href="/" class="logo logo_nav-text"></a>
						</div>

						<div class="nav__elems">
							<a href="#four-steps" class="nav__elem close-nav">Этапы получения аттестации</a>
							<a href="#benefits" class="nav__elem close-nav">Преимущества</a>
							<a href="#licenses" class="nav__elem close-nav">Лицензии</a>
							<a href="#attestation" class="nav__elem close-nav">Области аттестации</a>
							<a href="#clients" class="nav__elem close-nav">Клиенты центра</a>
						</div>

						<div class="nav__btn">
							<a data-fancybox data-src="#popup-form" class="btn btn_nav close-nav">Заказать звонок</a>
						</div>

					</div>
				</nav>
			</div>

		</div>

	</div>
</header>

<div class="grey-back"></div>
