<header class="header">
	<div class="wrapper">
		<div class="header__content">

			<div class="header__logo">
				<a href="/" class="logo"></a>
			</div>

			<div class="header__contact contact">
				<a href="tel:+79212196390" class="contact__number">8 (921) 219 63 90</a>
				<a href="tel:+79212196390" class="contact__number-ban">Звоните мы сейчас работаем</a>
			</div>

			<div class="header__btn">
				<a class="btn">Заказать звонок</a>
			</div>

			<div class="header__burger">
				<a class="burger">
					<div class="burger__icon">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</a>
			</div>

			<div class="header__nav">
				<nav class="nav">
					<a href="" class="nav__elem"></a>
				</nav>
			</div>

		</div>

	</div>
</header>
