<div class="intro" >
    <div class="wrapper">
        <div class="intro__content">

            <div class="intro__text">
                <div id="scene">
                    <p>ПОВЫСЬТЕ КВАЛИФИКАЦИЮ</p>
                    <div id="cap-intro" class="intro__cap" data-depth="0.1">
                        <a></a>
                    </div>
                </div>
                <p>и получите удостоверение</p>
                <p>Дистанционно от 3 до 7</p>
                <p>дней без отрыва от</p>
                <p>производства</p>
            </div>

            <div class="intro__btn">
                <a data-fancybox data-src="#popup-form" class="btn btn_img"></a>
            </div>

            <div class="intro__stat">

                <div class="intro__stat-elem">
                    <a class="intro__stat-img" style="background-image: url(img/medal.svg);"></a>
                    <span class="intro__stat-num">242</span>
                    <p class="intro__stat-text">Аттестовали 242 специалиста для Газпром-Нефть</p>
                </div>

                <div class="intro__stat-elem">
                    <a class="intro__stat-img" style="background-image: url(img/cape.svg);"></a>
                    <span class="intro__stat-num">2831</span>
                    <p class="intro__stat-text">Специалистов обучили за 2020г</p>
                </div>

            </div>

        </div>
    </div>
</div>