<div class="licenses">
    <div class="wrapper">
        <div class="licenses__content">

            <div class="licenses__text-block text-block">
                <h4>Почему стоит обратиться к нам</h4>
                <p>Центр квалификации сотрудников имеет большой опыт в данном направлении и готов предоставить вам выгодное сотрудничество. Обратите внимание, что повышение квалификации проходит не реже одного раза в пять лет, в связи с этим, каждый работодатель обязан предоставить сотрудникам соответствующие курсы, которые будут отвечать всем заявленным требованиям.</p>
                <h4>Мы предоставляем каждому клиенту:</h4>
                <ul>
                    <li>индивидуальный подход;</li>
                    <li>доступную стоимость;</li>
                    <li>короткие сроки получения сертификата;</li>
                    <li>дистанционное обучение.</li>
                </ul>
                <br>
                <p>Курсы повышения квалификации дистанционного обучения доступны в нашем центре. Мы предоставляема широкий спектр профессионального обучения и повышения квалификации по низким ценам. Все курсы проходят в дистанционном режиме, в удобное для вас время, без отрыва от производства.</p>
                <p>Оставить заявку можно на нашем сайте. Позвоните или напишите нам. При возникновении вопросов, вам помогут нашим консультанты.</p>
            </div>

            <h2 class="title title_middle title_center title_blue">
                <span>ЛИЦЕНЗИИ И АККРЕДИТАЦИИ</span> УЧЕБНОГО ЦЕНТРА
            </h2>

            <div id="slider-licenses" class="licenses__slider carousel slider-licenses">

                <div class="carousel__slide slider-licenses__slide">
                    <a data-fancybox="gallery-licenses" data-src="img/licenses/1.jpg" style="background-image: url(img/licenses/1.jpg);"></a>
                </div>

                <div class="carousel__slide slider-licenses__slide">
                    <a data-fancybox="gallery-licenses" data-src="img/licenses/2.jpg" style="background-image: url(img/licenses/2.jpg);"></a>
                </div>

                <div class="carousel__slide slider-licenses__slide">
                    <a data-fancybox="gallery-licenses" data-src="img/licenses/3.jpg" style="background-image: url(img/licenses/3.jpg);"></a>
                </div>

                <div class="carousel__slide slider-licenses__slide">
                    <a data-fancybox="gallery-licenses" data-src="img/licenses/4.jpg" style="background-image: url(img/licenses/4.jpg);"></a>
                </div>

            </div>
            
        </div>
    </div>
</div>