<div class="popup-form" id="popup-form">
    <a class="popup-form__back"></a>
    <form action="" method="post" class="popup-form__form">
        <input id="name" name="name" type="name" placeholder="Андрей Иванов" required>
        <input id="phone1" name="number" type="tel" required>
        <input id="email" name="email" type="email" placeholder="example@site.ru" required>
        <button type="submit" class="btn btn_form">Отправить заявку</button>
        <p>
            Нажимая на кнопку, вы соглашаетесь с политикой конфиденциальности
        </p>
    </form>
</div>