<div class="reviews">
    <div class="wrapper">
        <h2 class="title title_middle title_center title_blue">
            ОТЗЫВЫ  <span>КЛИЕНТОВ</span>
        </h2>
        <div class="reviews__content">

            <div id="slider-reviews" class="licenses__slider carousel slider-licenses slider-reviews">

                <div class="carousel__slide slider-licenses__slide">
                    <a data-fancybox="gallery-reviews" data-src="img/reviews/1.jpg" style="background-image: url(img/reviews/1.jpg);"></a>
                </div>

                <div class="carousel__slide slider-licenses__slide">
                    <a data-fancybox="gallery-reviews" data-src="img/reviews/2.jpg" style="background-image: url(img/reviews/2.jpg);"></a>
                </div>

                <div class="carousel__slide slider-licenses__slide">
                    <a data-fancybox="gallery-reviews" data-src="img/reviews/3.jpg" style="background-image: url(img/reviews/3.jpg);"></a>
                </div>

                <div class="carousel__slide slider-licenses__slide">
                    <a data-fancybox="gallery-reviews" data-src="img/reviews/4.jpg" style="background-image: url(img/reviews/4.jpg);"></a>
                </div>

            </div>

        </div>
    </div>
</div>