<div class="total">
    <div class="wrapper">
        <h2 class="title title_center title_blue" id="scene1">
            ЧТО ВЫ ПОЛУЧИТЕ <span>В ИТОГЕ</span>
            <div id="cap-intro" class="intro__cap" data-depth="0.5">
                <a></a>
            </div>
        </h2>
        <div class="total__content">

            <div class="total__grid">

                <div class="total__elem">
                    <p class="total__num">01</p>
                    <a class="total__img" style="background-image: url(img/total/1.svg);"></a>
                    <p class="total__text">
                        <span>ДОКУМЕНТЫ</span> УСТАНОВЛЕННОГО ОБРАЗЦА
                    </p>
                </div>

                <div class="total__elem">
                    <p class="total__num">02</p>
                    <a class="total__img" style="background-image: url(img/total/2.svg);"></a>
                    <p class="total__text">
                        <span>ВОЗМОЖНОСТЬ ПРОЙТИ АТТЕСТАЦИЮ</span> ПО ПРОМЫШЛЕННОЙ И ЭЛЕКТРОБЕЗОПАСНОСТИ  <span>ДИСТАНЦИОННО</span>
                    </p>
                </div>

                <div class="total__elem">
                    <p class="total__num">03</p>
                    <a class="total__img" style="background-image: url(img/total/3.svg);"></a>
                    <p class="total__text">
                        <span>МЕТОДИЧЕСКИЕ МАТЕРИАЛЫ ПО ВСЕМ НАПРАВЛЕНИЯМ</span> ДЛЯ ПОДГОТОВКИ И КОНСУЛЬТАЦИИ СПЕЦИАЛИСТОВ
                    </p>
                </div>

                <div class="total__elem">
                    <p class="total__num">04</p>
                    <a class="total__img" style="background-image: url(img/total/4.svg);"></a>
                    <p class="total__text">
                        <span>ПИСЬМА-ПОДТВЕРЖДЕНИЯ</span> ИЗ УЧЕБНОГО ЦЕНТРА И РОСТЕХНАДЗОРА
                    </p>
                </div>

                <!-- grafic-elems -->
                <a class="total__back my-paroller" data-paroller-factor="-0.1" data-paroller-type="foreground"></a>
                <a class="total__graf"></a>
            </div>

            <div class="total__text-block text-block">
                <p>Курсы повышения квалификации в дистанционном формате доступны в нашем центре. Мы предоставляем квалифицированные услуги, короткие сроки обучения и сертификаты государственного образца.</p>
                <h4>Описание:</h4>
                <p>Повышение квалификации — вид профессионального обучения, который позволяет:</p>
                <ul>
                    <li>повысить уровень теоретических знаний;</li>
                    <li>усовершенствовать практические навыки;</li>
                    <li>узнать о новых технологиях и нормах в определенном направлении.</li>
                </ul>
                <br>
                <p>Проводится данное обучение по мере необходимости. Основная цель — обновить практико-теоретические знания специалиста по причине требований работодателя или других норм, установленных на законодательном уровне.</p>
                <p>Также достаточно часто руководство проводит повышение квалификации для:</p>
                <ul>
                    <li>обучения новых кадров или повышения квалификации имеющихся специалистов, чтобы не принимать работников со стороны;</li>
                    <li>мотивации сотрудников к достижению результатов.</li>
                </ul>
                <br>
                <h4>Длительность и итоги обучения</h4>
                <p>Обучение в нашем центре проходит в дистанционном формате, что позволяет сотрудникам не отрываться от производства. Кроме этого, обучение согласовывается с работником, позволяя подобрать оптимальное время.</p>
                <p>По завершению прохождения курсов повышения квалификации, каждый сотрудник получает соответствующий документ, который позволяет подтвердить получение:</p>
                <ul>
                    <li>квалификации;</li>
                    <li>разряда.</li>
                </ul>
            </div>

        </div>
    </div>
</div>