<div class="total">
    <div class="wrapper">
        <h2 class="title title_center title_blue">
            ЧТО ВЫ ПОЛУЧИТЕ <span>В ИТОГЕ</span>
            <a class="intro__cap"></a>
        </h2>
        <div class="total__content">

            <div class="total__grid">

                <div class="total__elem">
                    <p class="total__num">01</p>
                    <a class="total__img" style="background-image: url(img/total/1.svg);"></a>
                    <p class="total__text">
                        <span>ДОКУМЕНТЫ</span> УСТАНОВЛЕННОГО ОБРАЗЦА
                    </p>
                </div>

                <div class="total__elem">
                    <p class="total__num">02</p>
                    <a class="total__img" style="background-image: url(img/total/2.svg);"></a>
                    <p class="total__text">
                        <span>ВОЗМОЖНОСТЬ ПРОЙТИ АТТЕСТАЦИЮ</span> ПО ПРОМЫШЛЕННОЙ И ЭЛЕКТРОБЕЗОПАСНОСТИ  <span>ДИСТАНЦИОННО</span>
                    </p>
                </div>

                <div class="total__elem">
                    <p class="total__num">03</p>
                    <a class="total__img" style="background-image: url(img/total/3.svg);"></a>
                    <p class="total__text">
                        <span>МЕТОДИЧЕСКИЕ МАТЕРИАЛЫ ПО ВСЕМ НАПРАВЛЕНИЯМ</span> ДЛЯ ПОДГОТОВКИ И КОНСУЛЬТАЦИИ СПЕЦИАЛИСТОВ
                    </p>
                </div>

                <div class="total__elem">
                    <p class="total__num">04</p>
                    <a class="total__img" style="background-image: url(img/total/4.svg);"></a>
                    <p class="total__text">
                        <span>ПИСЬМА-ПОДТВЕРЖДЕНИЯ</span> ИЗ УЧЕБНОГО ЦЕНТРА И РОСТЕХНАДЗОРА
                    </p>
                </div>

            </div>

        </div>
    </div>
</div>