<div class="qualification qualification_text">
    <div class="wrapper">
        <div class="qualification__contain">

            <div class="qualification__text qualification__text_not-before">

                <strong>Квалификационные характеристики</strong>
                <br>Электромонтажникам по электрическим машинам повышение квалификации означает приобретение новых знаний и повышение уровня компетенций и навыков. От элементарных операций для 2-го разряда, до требующих большого объема знаний для 6-го разряда.
                <br><strong>Стоимость обучения</strong>
                <br>Стоимость обучения по программе подготовки или повышения квалификации зависит от выбранного учебного плана, наличия практических навыков в профессии и сроков обучения. Подготовка группы специалистов с одного предприятия существенно экономит затраты на подготовку специалистов.
                <br>Политика центра ПКС в области ценообразования позволяет сохранять уровень оплаты за профессиональное обучение и повышение квалификации на конкурентном уровне.
                <br>
                <br>

            </div>

            <div class="qualification__btn qualification__btn_2">
                <a data-fancybox data-src="#popup-form" class="btn btn_img btn_img-cover btn_img-qual2"></a>
            </div>
            

        </div>
    </div>
</div>