<div class="qualification qualification_text">
    <div class="wrapper">
        <div class="qualification__contain">

            <div class="qualification__text qualification__text_not-before">

                Большой опыт и высококвалифицированные специалисты, проработанные курсы и записанные уроки позволяют нам предоставлять актуальную информацию.
                <br>Как оставить заявку
                <br>Повышение квалификации в области ремонта и строительства — необходимость, которая прописана в Законодательстве. Обратите внимание, при отсутствии необходимой документации, работодатель может получить штраф.
                <br>Чтобы оставить заявку, воспользуйтесь удобным способом:
                <br>
                <ul>
                    <li>напишите нам;</li>
                    <li>заполните специальную форму на нашем сайте;</li>
                    <li>позвоните по указанному номеру телефона.</li>
                    <li>наши консультанты всегда на связи и готовы помочь вам в любой сложившейся ситуации. Мы готовы предоставить каждой организации низкие цены и короткие сроки в получении квалификации.</li>
                </ul>

            </div>

            <div class="qualification__btn qualification__btn_2">
                <a data-fancybox data-src="#popup-form" class="btn btn_img btn_img-cover btn_img-qual2"></a>
            </div>
            

        </div>
    </div>
</div>