<div class="qualification qualification_text">
    <div class="wrapper">
        <div class="qualification__contain">

            <div class="qualification__text qualification__text_not-before">

                Как проходят курсы
                <br>Обучение и повышение квалификации для электротехнического персонала проходят в дистанционном режиме, что позволяет не отрываться от производства. При этом, вы можете находиться в любом населенном пункте России. От вас потребуется только интернет и компьютер или телефон. Наш центр предоставляет каждому клиенту:
                <br>
                <ul>
                    <li>Доступную стоимость. Мы не завышаем стоимость. Лицензии и сертификаты отправляем по почте в короткое время.</li>
                    <li>Полный список всех направлений и профессий. В нашем центре каждый сотрудник может пройти обучение, повышение квалификации и аттестацию по любому направлению.</li>
                    <li>Индивидуальный подход. Мы подберем для вас оптимальное время для проведения занятий без отрыва от производственных работ.</li>
                    <li>Дистанционное обучение и аттестацию. Наша компания понимает, насколько важно сотруднику находится постоянно на работе, поэтому мы не займем много времени, предоставив полный спектр знаний и навыков при помощи современных технологий.</li>
                </ul>Наша компания сотрудничает с организациями и предприятиями по всей России, но также мы не делаем исключение отдельным гражданам, которые желают повысить собственную квалификацию. Чтобы оставить заявку, воспользуйтесь удобным способом:
                <br>
                <ul>
                    <li>заполните форму, представленную на сайте;</li>
                    <li>позвоните по указанному номеру телефона.</li>
                    <li>При возникновении вопросов, наши консультанты помогут вам. Повышение квалификации для электротехнического персонала — необходимость, которая обусловлена специфическим и востребованным направлением. Не пренебрегайте сотрудниками, обращайтесь в наш центр, который позволит пройти обучение без отрыва от производства!</li>
                </ul>

            </div>

            <div class="qualification__btn qualification__btn_2">
                <a data-fancybox data-src="#popup-form" class="btn btn_img btn_img-cover btn_img-qual2"></a>
            </div>
            

        </div>
    </div>
</div>