<div class="qualification qualification_text">
    <div class="wrapper">
        <h2 class="title title_middle">СПЕЦИАЛИЗИРУЕМСЯ НА ПРОФ. ПОДГОТОВКЕ И <span>ПОВЫШЕНИИ КВАЛИФИКАЦИИ</span></h2>
        <div class="qualification__contain">

            <div class="qualification__text">

                <p>Повышение квалификации для электротехнического персонала доступно в нашем центре. Мы предоставляем низкие цены на курсы, удостоверение государственного образца и короткие сроки обучения.</p>
                <p>Описание</p>
                <p>Электротехнический персонал — специалисты, которые занимаются ремонтом, наладкой, установкой и проверкой электроустановок. Каждый специалист имеет не только большие полномочия, но и ответственность, которая наиболее важно в данном случае.</p>
                <p> электротехнический персонал делится на несколько групп:</p>
                <ul>
                    <li>административно-технический;</li>
                    <li>оперативный;</li>
                    <li>ремонтный;</li>
                    <li>оперативно-ремонтный.</li>
                </ul>
                <p>В зависимости от направления, сферы деятельности и обязанностей, каждый сотрудник обязан проходить повышение квалификации и аттестацию, которая обеспечит гарантию выполняемых работ.</p>
                <p>За прохождение курсов и различного типа обучения отвечает работодатель. именно он должен проверять знания и навыки собственных специалистов с периодичностью один раз в пять лет. Чтобы упростить собственную задачу и не искать долго квалифицированный центр обучения, позвоните нам.</p>
                <p>Наш Центр Повышения Квалификации Сотрудников имеет большой опыт и позволит вам:</p>
                <ul>
                    <li>мотивировать персонал;</li>
                    <li>собирать собственную команду, а не нанимать со стороны;</li>
                    <li>сэкономить время работников.</li>
                </ul>

            </div>

            <div class="qualification__btn">
                <a id="btn-qual" href="#qualification__table" class="btn btn_img btn_img-cover btn_img-qual" data-target="#hidden-qual"></a>
            </div>

            <div class="qualification__hidden" id="hidden-qual">
                <!-- anchor -->
                <a id="qualification__table"></a>
                <!-- anchor end-->
                <div class="qualification__table">
                    <div class="qualification__table-title">КУРСЫ ПОВЫШЕНИЯ КВАЛИФИКАЦИИ</div>

                    <div class="qualification__table-title">ЭЛЕКТРОТЕХНИЧ. И ЭЛЕКТРОТЕХНОЛОГИЧ. ПЕРСОНАЛ</div>
                    <div>
                        Монтажник связи-антенщик 2-6 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Монтажник связи – кабельщик 2-6 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Наладчик контрольно-измерительных приборов и автоматики 4-8 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Электромонтажник по кабельным сетям 2-7-го разряда
                        <span>4000</span>
                    </div>
                    <div>
                        Электромонтажник по освещению и осветительным сетям 2-6-го разряда
                        <span>4000</span>
                    </div>
                    <div>
                        Электромонтажник по распределительным устройствам 2-7-го разряда
                        <span>4000</span>
                    </div>
                    <div>
                        Электромонтажник по силовым сетям и электрооборудованию 2-6 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Электромонтажник по электрическим машинам 2-6-го разряда
                        <span>4000</span>
                    </div>
                    <div>
                        Электромонтер охранно-пожарной сигнализации 3-6 разряда
                        <span>4000</span>
                    </div>
                    <div>
                        Электромонтер по испытаниям и измерениям 3-8 разряда
                        <span>4000</span>
                    </div>
                    <div>
                        Электромонтер по обслуживанию электрооборудования электростанций 5-6-го разряда
                        <span>4000</span>
                    </div>
                    <div>
                        Электромонтер по обслуживанию электроустановок 5-7-го разряда
                        <span>4000</span>
                    </div>
                    <div>
                        Слесарь механосборочных работ 2-7 разряд
                        <span>4000</span>
                    </div>

                    <div class="qualification__table-title">ПРОИЗВОДСТВЕННЫЕ СПЕЦИАЛЬНОСТИ</div>
                    <div>
                        Бурильщик эксплуатационного и разведочного бурения скважин на нефть и газ 5-8 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Вышкомонтажник 3-8 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Вышкомонтажник-сварщик 3-6 разряд
                        <span>7000</span>
                    </div>
                    <div>
                        Вышкомонтажник –электромонтер 3-5 разряд
                        <span>4000</span>
                    </div>

                    <div class="qualification__table-title">НЕФТЯНАЯ И ГАЗОВАЯ ПРОМЫШЛЕННОСТЬ</div>
                    <div>
                        Каротажник 4-8 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Лаборант по анализу газа и пыли 2-4 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Лаборант по ультразвуковой технике 3-5 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Лаборант по физико-механическим испытаниям 2-6 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Лаборант по электроизоляционным материалам 2-5 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Лаборант ренгено-спектрального анализа 2-6 разряд
                        <span>4000</span>
                    </div>
                    <div>
                        Лаборант спектрального анализа 2-6 разряд
                        <span>4000</span>
                    </div>
                    <div class="qualification__table-title">СВАРОЧНЫЕ РАБОТЫ</div>
                    <div>
                        Газосварщик 2-6 разряд
                        <span>5000</span>
                    </div>
                    <div>
                        Газорезчик 1-5 разряд
                        <span>5000</span>
                    </div>
                    <div>
                        Электросварщик ручной сварки 3-6 разряд
                        <span>5000</span>
                    </div>
                    <div>
                        Электросварщик на автоматических и полуавтоматических машинах 2-6 разряд
                        <span>5000</span>
                    </div>
                    <div>
                        Электрогазосварщик 2-6 разряд
                        <span>5000</span>
                    </div>
                    <div>
                        Электрогазосварщик-врезчик 4-6 разряд
                        <span>5000</span>
                    </div>

                </div>

                <div class="qualification__btn qualification__btn_2">
                    <a data-fancybox data-src="#popup-form" class="btn btn_img btn_img-cover btn_img-qual2"></a>
                </div>
            </div>

        </div>
    </div>
</div>